{% extends 'base.html.twig' %}

{% block title %} Conference Guestbook {% endblock %}

{% block stylesheets %}
    <style>
        .comments {
            margin: 10px;
        }

        .comment {
            margin-bottom: 60px;
        }
    </style>
{% endblock %}

{% block body %}

    <h2>{{ conference }} Conference</h2>

    {% if comments | length > 0 %}
        <div>There are {{ comments|length }} comments. </div>

        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    {% if comment.photofilename %}
                        <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}"/>
                    {% endif %}
                    <h4>{{ comment.author }}</h4>
                    <small>
                        {{ comment.createdAt|format_datetime('medium', 'short') }}
                    </small>
                    <p>{{ comment.text }}</p>
                </div>
            {% endfor %}

            {% if previous >= 0 %}
                <a href="{{  path('conference-show', {id: conference.id, offset: previous }) }}">Previous</a>
            {% endif %}
            {% if next < comments|length %}
                <a href="{{ path('conference-show', {id: conference.id, offset: next}) }}">Next</a>
            {% endif %}

        </div>
    {% else %}
        <div>No comments have been posted yet under this conference</div>
    {% endif %}


{% endblock %}